In [5]:
# DataFrame Syntax 'DataFrame(data=None,columns=None,index=None,dtype=None,copy=None)'
# DataFrame is 2D, two dimensional

import pandas as pd

df=pd.DataFrame(data=None,columns=None,index=None,dtype=None,copy=None)

In [12]:
tech = [
    ["Spark",20000, "30days"], 
    ["Pandas",25000, "40days"], 
        ]

df1=pd.DataFrame(tech, columns=['c1','c2', 'c3'], index=['r1','r2'])
print(df1)

        c1     c2      c3
r1   Spark  20000  30days
r2  Pandas  25000  40days

In [15]:
# Create DataFrame from Dict
technologies = {
    'Courses':["Spark","Pandas"],
    'Fee' :[20000,25000],
    'Duration':['30days','40days']
              }
df2 = pd.DataFrame(technologies, index=['r1','r2'])
print(df2)

   Courses    Fee Duration
r1   Spark  20000   30days
r2  Pandas  25000   40days

In [21]:
# Converting Series into DataFrame

s1 = pd.Series(["Spark","Pandas"])
s2 = pd.Series([20000,25000])
s3 = pd.Series(['30days','40days'])

df3=pd.concat([s1,s2,s3], axis=1)
print(df3)

        0      1       2
0   Spark  20000  30days
1  Pandas  25000  40days

In [22]:
#DataFrame using Zip() function

# Create Lists
Courses = ['Spark', 'Pandas']
Fee = [20000,25000]
Duration = ['30days','40days']
   
# Merge lists by using zip().
tuples_list = list(zip(Courses, Fee, Duration))

df = pd.DataFrame(tuples_list, columns = ['Courses', 'Fee', 'Duration'])
print(df)

  Courses    Fee Duration
0   Spark  20000   30days
1  Pandas  25000   40days