In [2]:
import pandas as pd
import numpy as np

data1=["ram", "suji", "rakesh"]
np_array=np.array(data1)
series=pd.Series(np_array)
print(series)

0       ram
1      suji
2    rakesh
dtype: object

In [5]:
# With indexing
# Syntax: pd.Series(data,index,dtype,copy)
# Based on the above syntax, we are defining Series(data, index=[r1,r2,r3])

series1=pd.Series(data1, index=["r1", "r2", "r3"])
print(series1)

r1       ram
r2      suji
r3    rakesh
dtype: object

In [6]:
data_dct={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days"}
series2=pd.Series(data_dct)
print(series2)

Courses     pandas
Fees         20000
Duration    30days
dtype: object

In [2]:
# Using Data Dictionary above specifiying the index's now
# When using the dictionary it will points the keys for indexing
import pandas as pd
import numpy as np

data_dict={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days"}
series3=pd.Series(data_dict, index=["Courses", "Fees","Course_Duration"]) # you will get result NaN, because your indexing values does not match with keys in dictionary
print(series3)

Courses            pandas
Fees                20000
Course_Duration       NaN
dtype: object

In [25]:
# Convert Single Series to DataFrame, when you use DataFrame make sure that you should pass an index with the same number of entries as your series1
import pandas as pd

# Data for the series
series1 = pd.Series(data=["Spark", "Python", "Java", ".Net"])

# Creating a DataFrame, with an index that has 4 labels, one for each course
df1 = pd.DataFrame(series1.values, columns=["Course_Name"],index=["Course_1", "Course_2", "Course_3", "Course_4"])

# Printing the DataFrame
print(df1)

         Course_Name
Course_1       Spark
Course_2      Python
Course_3        Java
Course_4        .Net

In [19]:
import pandas as pd

series7=pd.Series(data=["Spark","Python","Java",".Net"])
df7=pd.DataFrame(series7, columns=["CourseName"])

In [17]:
# Converting Multiple Series into DataFrame

series1=pd.Series(data=["Spark","Python","Java",".Net"])
series2=pd.Series(data=[22000, 230000, 35849.38], name="Fees")
df2=pd.concat([series1,series2], axis=1)
print(df2)

        0       Fees
0   Spark   22000.00
1  Python  230000.00
2    Java   35849.38
3    .Net        NaN