In [7]:
#Series syntax ==> Series(data,index,dtype,copy)
# index will be representing as rows in Series class

import pandas as pd
import numpy as np

data1=np.array(["python","rp", "php", "probability"])
series1=pd.Series(data1)

print(series)

0         python
1             rp
2            php
3    probability
dtype: object

In [8]:
data2=np.array(["Raj","Ram","Sita","Arjun"])
series2=pd.Series(data2,index=["r1","r2","r3","r4"])
print(series2)

r1      Raj
r2      Ram
r3     Sita
r4    Arjun
dtype: object

In [9]:
#Using Dictionaries, Keys will always treat as rows and values will be acts as columns

data3={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days"}
series3=pd.Series(data3)
print(series3)

Courses     pandas
Fees         20000
Duration    30days
dtype: object

In [18]:
# Example with Dictionaries one more time

data4={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days", "Name":"Rakesh"}
series4=pd.Series(data4.keys())#,index=['r1','r2','r3','r4',])
print(series4)

0     Courses
1        Fees
2    Duration
3        Name
dtype: object

In [20]:
# Example with Dictionaries one more time

data5={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days", "Name":"Rakesh","Id":"27"}
series5=pd.Series(data5.values())#,index=['r1','r2','r3','r4',])
print(series5)

0    pandas
1     20000
2    30days
3    Rakesh
4        27
dtype: object

In [22]:
# Example with Dictionaries one more time using keys only and replacing with index values bypass

data6={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days", "Name":"Rakesh","Id":"27"}
series6=pd.Series(data6.keys(),index=['r1','r2','r3','r4','r5'])
print(series6)

r1     Courses
r2        Fees
r3    Duration
r4        Name
r5          Id
dtype: object

In [24]:
# Example with Dictionaries one more time using keys only and replacing with index values bypass

data7={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days", "Name":"Rakesh","Id":"27"}
series7=pd.Series(data7.values(),index=['r1','r2','r3','r4','r5'])
print(series7)

r1    pandas
r2     20000
r3    30days
r4    Rakesh
r5        27
dtype: object

In [26]:
# Example with Dictionaries one more time using keys only and replacing with index values bypass

data8={'Courses' :"pandas", 'Fees' : 20000, 'Duration' : "30days", "Name":"Rakesh","Id":"27"}
series8=pd.Series(data8,index=['Courses','Fees','Duration','Name','Id'])
print(series8)

Courses     pandas
Fees         20000
Duration    30days
Name        Rakesh
Id              27
dtype: object

In [ ]:
# Converting Single Series to DataFrame

data_in_sr=pd.Series(['New York', 'Chicago', 'Toronto', 'Lisbon', 'Rio', 'Moscow'])

df_conversion_1=data_in_sr.to_frame() #method 1 is .to_frame()

df_conversion_2=pd.DataFrame(data_in_sr) #method 2 is pd.DataFrame()

print(df_conversion_1)

print(df_conversion_2)

          0
0  New York
1   Chicago
2   Toronto
3    Lisbon
4       Rio
5    Moscow
          0
0  New York
1   Chicago
2   Toronto
3    Lisbon
4       Rio
5    Moscow

In [34]:
# Converting the series into DataFrame

sr = pd.Series([19.5, 16.8, 22.78, 20.124, 18.1002])

df1 = sr.to_frame()

df2 = pd.DataFrame(sr)

print(df1)

print(df2)

         0
0  19.5000
1  16.8000
2  22.7800
3  20.1240
4  18.1002
         0
0  19.5000
1  16.8000
2  22.7800
3  20.1240
4  18.1002

In [39]:
# Convert list to DataFrame

data_list = [1, 2, 3, 4]
df_from_list = pd.DataFrame(data_list, columns=['Column1'],index=['r1','r2','r3','r4'])

print(df_from_list)

    Column1
r1        1
r2        2
r3        3
r4        4

In [8]:
# Using Concat to convert the multiple series into DataFrame

# Concat is nothing but joining/adding between two, so you must have at least two series for using Concat method into DataFrame
import pandas as pd

s1 = pd.Series([5, 6, 7, 8], name='A', index=['r1','r2','r3','r4'])

s2 = pd.Series([1, 2, 3, 4], name='B', index=['r1','r2','r3','r4'])

df = pd.concat([s1, s2], axis=1)

print(df)

    A  B
r1  5  1
r2  6  2
r3  7  3
r4  8  4

In [15]:
# Now using DataFrames data into Series

# Converting Single DF Column into Series

# Converting Single DF Row into Series

import pandas as pd

data = ['python','php','java']

series_conversion = pd.Series(data, index=['r1', 'r2','r3']) #Series Conversion -> we got Series output
print(series_conversion)

dataframe_conversion = pd.DataFrame(data, columns=['Courses']) # DataFrame Conversion -> we only got conversion but to get Series need to squeeze 

series_outuput = dataframe_conversion.squeeze()
print(series_outuput)

r1    python
r2       php
r3      java
dtype: object
0    python
1       php
2      java
Name: Courses, dtype: object

In [36]:
# Converting Multiple DF Columns or Dictionary formatted data into Series

raw_data = {
    'Courses': ['Spark', 'PySpark', 'Python'],
    'Duration':['30 days', '40 days', '50 days'],
    'Fee':[20000, 25000, 26000]
    }

data_frame = pd.DataFrame(raw_data, columns=['Courses','Duration','Fee'])
print(data_frame)
print('\n')

df_conversion=pd.DataFrame(raw_data['Duration'], columns=['Title']) #single column
series_op = df_conversion.squeeze()

print(series_op)
print(type(series_op))

   Courses Duration    Fee
0    Spark  30 days  20000
1  PySpark  40 days  25000
2   Python  50 days  26000


checking line:

Title    30 days
Name: 0, dtype: object
0    30 days
1    40 days
2    50 days
Name: Title, dtype: object
<class 'pandas.core.series.Series'>

In [32]:
# Using iloc[] method from DataFrame output in above cell, which is index 2

x=(data_frame.iloc[2])
print(type(x))
print(x)

<class 'pandas.core.series.Series'>
Courses      Python
Duration    50 days
Fee           26000
Name: 2, dtype: object